language: go

go:
- "1.13"

os:
- linux

services:
    - docker

jobs:
    include:
        - stage: lint
          name: 'Run lint'
          script:
            - ./scripts/app/run lint ./...
            - ./scripts/app/run format .
        - stage: test
          name: 'Run tests'
          script: 
            - ./scripts/app/run test ./...

before_install:
    make setup